.block{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 5px 10px 0 rgba(0, 0,0,.1);
    transition: transform .2s;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 50px;
}
.block:hover{
    transform: scale(1.1);
}
.block fa-icon {
    transform: scale(5);
}
.desc{
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 30px;
    font-weight: 500;
}
.header{
    text-align: center;
    width: 100%;
    height: auto;
}
.header-text{
    font-size: 6em;
    font-weight: 200;
}